@model CovidMovieMadness___Tenta.ViewModels.MoviePostDetailsView

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Movie</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName("Title")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Genre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Genre)
        </dd>

        <dt>
            @Html.DisplayName("Year released")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Year.Year)
        </dd>
    </dl>
</div>
@Ajax.ActionLink("Show review", "PartialPost", new { id = Model.MovieID },
    new AjaxOptions
    {
        HttpMethod = "GET", // HttpMethod to use, GET or POST
        UpdateTargetId = "post", // ID of the HTML element to update
        InsertionMode = InsertionMode.Replace // Replace the existing contents
    }, new { id = Model.MovieID })
<div id="post">
</div>
<br />
@Ajax.ActionLink("Average Rating", "AllRatings", new { id = Model.MovieID },
    new AjaxOptions
    {
      HttpMethod = "GET", // HttpMethod to use, GET or POST
      UpdateTargetId = "ratings", // ID of the HTML element to update
      InsertionMode = InsertionMode.Replace // Replace the existing contents
    }, new { id = Model.MovieID })
<div id="ratings"></div>
<br />
<p>
    @Html.ActionLink("Edit movie", "Edit", new { id = Model.MovieID }) |
    @Html.ActionLink("Delete movie", "Delete", new { id = Model.MovieID }) |
    @Html.ActionLink("Back to List", "Index")
</p>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/Scripts/jquery-3.4.1.min.js")
    @Scripts.Render("~/Scripts/jquery.unobtrusive-ajax.min.js")
}