@model CovidMovieMadness___Tenta.ViewModels.MoviePostDetailsView

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Movie</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Genre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Genre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Year)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Year)
        </dd>
    </dl>
</div>
<div>
    <h4>Review</h4>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayName("Rating")
            </th>
            <td>
                @Html.DisplayFor(model => model.ReviewRating)
            </td>
        </tr>
        <tr>
            <td>
                @Html.DisplayFor(model => model.PostContent)
            </td>
        </tr>
    </table>
</div>
<div>
    <h4>Comments</h4>
    <table class="table">
        <tr>
            <th>Username</th>
            <th>Rating</th>
            <th>Comment</th>
        </tr>
        @if (!string.IsNullOrEmpty(Model.PostContent))
        {
            foreach (var item in Model.Comment)
            {
                <tr>
                    <td>@item.Username</td>
                    <td>@item.UserRating</td>
                    <td>@item.CommentContent</td>
                </tr>

            }
        }
    </table>
</div>

@try
{
    if (string.IsNullOrEmpty(Model.PostContent))
    {
        <p>
            @Html.ActionLink("Edit movie", "Edit", new { id = Model.MovieID }) |
            @Html.ActionLink("Back to List", "Index") |
            @Html.ActionLink("Create review", "Create", "Post", new { id = Model.PostID }, null)
        </p>
    }
    else
    {
        <p>
            @Html.ActionLink("Edit movie", "Edit", new { id = Model.MovieID }) |
            @Html.ActionLink("Back to List", "Index") |
            @Html.ActionLink("Edit review", "Edit", "Post", new { id = Model.PostID }, null) |
            @Html.ActionLink("Delete review", "Delete", "Post", new { id = Model.PostID }, null) |
            @Html.ActionLink("Add comment", "Create", "Comment", new { id = Model.PostID }, null)

        </p>
    }
}
catch (NullReferenceException) { }

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}